<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @post.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Published:</strong>
  <%= @post.published %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @post.published_at %>
</p>

<div class='mt-5'>
  <%= link_to 'Editer', edit_post_path(@post), class: 'btn btn-info'%>
  <%= link_to 'Retour', posts_path, class: 'btn btn-info'%>
</div>
