<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @post.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Published:</strong>
  <%= @post.published %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @post.published_at %>
</p>


<%= render partial: 'navigator', locals: { action_name: 'Editer', action: edit_post_path(@post) } %>
