<!DOCTYPE html>
<html>
  <head>
    <title>RailsCourse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='bg-light'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class='mr-auto'>
        <%= link_to root_path, class: 'navbar-brand' do %>
          <img src="https://www.epitech.eu/digital/wp-content/uploads/2020/01/EPI-LOGO-DIGITAL-2019-BLANC.png" width="80" height="30" alt="">
        <% end %>
      </div>
      <form class="form-inline my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="ml-auto">
        <ul class="navbar-nav">
          <% if author_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Déconnection', destroy_author_session_path, method: :delete, class: 'nav-link'%>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Connextion', new_author_session_path, class: 'nav-link'%>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% if notice %>
        <p class="notice alert alert-info mt-5"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert alert-danger mt-5"><%= alert %></p>
      <% end %>
      <div class='mt-5'>
        <%= yield %>
      </div>
    <div>
  </body>
</html>
